<div fxLayout="row" fxLayoutAlign="center">
        <form (ngSubmit)="signup()"
              [formGroup]="signupForm"
              novalidate
              fxLayout="column">
          <mat-form-field fxFlex>
            <input matInput
                   placeholder="Email"
                   formControlName="email">
                   <mat-error *ngIf="formControllError('email', 'required')">
                      Email is required
                    </mat-error>
                    <mat-error *ngIf="formControllError('email', 'email', ['required'])">
                      Email is invalid
                    </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput
                   placeholder="Password"
                   type="password"
                   formControlName="password">
                   <mat-error *ngIf="formControllError('password', 'required')">
                    Password is required
                  </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput
                   placeholder="Repeat Password"
                   type="password"
                   formControlName="repeatedPass">
                   <mat-error *ngIf="formControllError('repeatedPass', 'required')">
                    Rrepeated password is required
                  </mat-error>
                  <mat-error *ngIf="formControllError('repeatedPass', 'not-matching-pass', ['required'])">
                    Rrepeated password does not match
                  </mat-error>
          </mat-form-field>
          <button mat-button
                  color="primary"
                  type="submit">
            Signup
          </button>
        </form>
  </div>
