<mat-sidenav-container class="main-container">
    <mat-sidenav mode="side" 
    [opened]="navBarOpen">
    <mat-nav-list>
            <a mat-list-item routerLink = "/"><psa-margin-icon [iconName]="'home'"></psa-margin-icon>Home</a>
            <a mat-list-item routerLink = "/albums"><psa-margin-icon [iconName]="'folder'"></psa-margin-icon>Albums</a>
         </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
            <psa-toolbar (navToggle)="toggleNav()">
        </psa-toolbar>
            <div style="margin-left: 10px">
        <router-outlet></router-outlet>
       </div>
    </mat-sidenav-content>
  </mat-sidenav-container>