<mat-sidenav-container fxFlexFill
(backdropClick) = "toggleNav()">
    <mat-sidenav
    [mode] = "mode"
    [opened] = "navBarOpen">
    <mat-nav-list>
            <a *ngFor="let route of routes"
            mat-list-item [routerLink] = "route.route">
            <psa-margin-icon [iconName]="route.icon">
            </psa-margin-icon>{{route.title}}</a>
         </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
            <psa-toolbar (navToggle)="toggleNav()"></psa-toolbar>
            <div fxFlex>
        <router-outlet></router-outlet>
       </div>
       <footer fxLayout="column">
         <div fxLayout = "row">
           <hr fxFlex = "100">
           </div>
           <p fxFlexAlign="center">moystre 2018</p>
       </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
