<mat-sidenav-container fxFlexFill>
    <mat-sidenav mode="side" 
    [opened]="navBarOpen">
    <mat-nav-list>
            <a *ngFor="let route of routes" 
            mat-list-item [routerLink] = "route.route">
            <psa-margin-icon [iconName]="route.icon">
            </psa-margin-icon>{{route.title}}</a>
         </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
            <psa-toolbar (navToggle)="toggleNav()">
        </psa-toolbar>
            <div style="margin-left: 10px">
        <router-outlet></router-outlet>
       </div>
    </mat-sidenav-content>
  </mat-sidenav-container>