<div fxLayout="row" fxLayoutAlign="center">
<mat-card fxFlex="80">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Beach day at great</mat-card-title>
    <mat-card-subtitle>21342314.jpg</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <mat-list dense>
      <mat-list-item> created: "2018-03-01" </mat-list-item>
      <mat-list-item> file: "3412341.jpg" </mat-list-item>
      <mat-list-item> size: 234 kb </mat-list-item>
     </mat-list>

     </mat-card-content>
  <mat-card-actions>
         <button mat-raised-button color="warn">
                <mat-icon>delete</mat-icon>
                Delete
              </button>
        <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>
